<mat-toolbar class="mat-elevation-z8" color="primary">
    
    <mat-icon routerLink="home" style="cursor: pointer;">home</mat-icon>
    <span>Tutorials</span>

    <div class="spacer"></div>

    <a mat-button class="menuButton" [routerLink]="['content', 'typescript']" [routerLinkActive]="['active']">Typescript</a>
    <a mat-button class="menuButton" [routerLink]="['content', 'angular']" [routerLinkActive]="['active']">Angular</a>
    <a mat-button class="menuButton" [routerLink]="['content', 'react']" [routerLinkActive]="['active']">React</a>
    <a mat-raised-button class="menuButton" routerLink="signup" color="accent">Sign Up</a>
    
</mat-toolbar>